#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: Gill Sans MT;
}

#greeting-container {
  margin-top: 20px;
  width: 500px;
  background-color: azure;
  color: darkolivegreen;
  font-family: Verdana;
}

#data-container {
    margin-bottom: 20px;
    margin-top: 5px;
}

.button {
    padding: 15px 32px;
    color: gray;
    font-size: 30px;
    font-family: Verdana;
}

.button:hover {
    background-color: darkgray;
    color: white;
}