#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: Gill Sans MT;
  text-align: center;
  align-items: center;
}

#greeting-container {
  margin-top: 20px;
  width: 500px;
  background-color: azure;
  color: darkolivegreen;
  font-family: Verdana;
}

#comment-container {
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 600px;
}

#data-container {
  margin-bottom: 20px;
  margin-top: 5px;
}

#comment-form {
  padding: 20px;
  width: 270px;
  background-color: white;
  border-color: darkgray;
}

.button {
  padding: 15px 32px;
  color: gray;
  font-size: 30px;
  font-family: Verdana;
}

.button:hover {
  background-color: darkgray;
  color: white;
}